{% extends "index.html" %}

{% block content %}
<title>CSV Search and Bar Graph (Target vs. Score)</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <!-- Information that should remain visible -->
            <h2>Identification of the Targets from the compounds </h2>
        </header>
    
    <!-- Search bar for Formulation -->
    <header>
        <h3>Example: Enter the SMILES and values for the formulation.</h3>
    </header>
                <!-- Add example button -->
                <button type="button" class="button primary" onclick="fillExample()">Smiles</button>
                <button type="button" class="button primary" onclick="fillPlantData()">Plants</button>
                <!-- Form for entering batch data -->
                <form id="batchForm" action="search-formulations" method="post">
                    <label for="batchInput"></label><br>
                    <textarea id="batchInput" name="batch" rows="5" cols="50" placeholder="Enter SMILES and values..."></textarea><br>
                    <button class="button" type="submit">Compute</button>
                    <button type="button" id="resetFormulationBtn" class="search-icon fa fa-refresh" onclick="resetFormulation()"></button>
                    <div id="loadingContainer" style="display: none;"></div>
                </form>     
                
  

</div>




<script>
    // Function to show the formulation search bar
    function showFormulation() {
        document.getElementById('formulation-search').style.display = 'block';
    }

    // Function to fill the formulation search bar
    function fillFormulationSearchBar(name) {
        document.getElementById('formulation_search_term').value = name;
    }

    // Function to fill the textarea with example data
    function fillExample() {
        var exampleData = `C1=CC(=CC=C1C2=CC(=O)C3=C(C=C(C=C3O2)O)O)O	1\n
                           COC1=C(C=CC(=C1)[C@H]([C@@H](CCl)O)O)O	1\n
                           CC1=CCC2[C@H]3[C@@H]1[C@@]2(CC[C@H]3C(C)C)C	1\n
                           CC1=C[C@H]2[C@@H](CC[C@@](C2CC1)(C)O)C(C)C	1\n
                           CC1=C[C@H]([C@H]2C[C@@H]1C2(C)C)O	1\n
                           COC1=C(C=CC(=C1)C[C@H](CO)O)O	1\n
                           C[C@]1(C=C[C@@]2([C@H]1[C@@H]3[C@@H]([C@H](CC2=C)O)C(=C)C(=O)O3)O)O	1\n
                           C[C@]1(C=C[C@@]2([C@H]1[C@@H]3[C@@H]([C@H](CC2=C)O)C(=C)C(=O)O3)OO)OO	1\n
                           CC1=C2C[C@@H](CC[C@]2(CCC1=O)C)C(=C)CO	1\n
                           CC(C)C12CCC(=C)[C@@H]1C2	1\n
                           CC1(C2C1[C@H]3C(CCC3(C)O)C(=C)CC2)C	1`;

        document.getElementById('batchInput').value = exampleData;
    }

    // Function to fill the textarea with plant data
    function fillPlantData() {
        var plantData = `Artemisia afra	1\n
                        Mitragyna speciosa	1\n
                        Ocimum basilicum	2\n
                        Hydrastis canadensis	3\n
                        Artemisia annua	4\n`;

        document.getElementById('batchInput').value = plantData;
    }
    
    document.getElementById('resetFormulationBtn').addEventListener('click', function() {
        // Your function logic here
        resetFormulation();
    });

    function resetFormulation() {
        // Reset the textarea value to empty string
        document.getElementById('batchInput').value = '';
        
        // Redirect to '/target'
        window.location.href = '/target';
    }

    const form = document.getElementById('batchForm');
    const loadingContainer = document.getElementById('loadingContainer');

    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting immediately

        // Show the loading GIF
        loadingContainer.innerHTML = '<img src="static/loading2.gif" alt="Loading..."style="width: 150px; height: 150px;">';
        loadingContainer.style.display = 'block';

        // Submit the form after a short delay (e.g., 500ms)
        setTimeout(function() {
            form.submit();
        }, 500);
    });

</script>

{% endblock %}
