{% extends "index.html" %}
{% block content %}
<title>CSV Search and Bar Graph (Target vs. Score)</title>
<style>
    .compound-table td {
  color: #000000; /* Set the desired text color */
}

</style>
			<!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h2>Botanicals</h2>
                            <p>Identification of targets and off pathways of selected plant compounds</p>
                            <div class="tabs">
                                <button class="button primary" onclick="showCompoundSearch()">Compounds</button>
                                <button class="button primary" onclick="showTargetSearch()">Targets</button>
                                <button class="button primary" onclick="showPlants()">Plants</button>
                                <!-- Add other tab buttons here if needed -->
                            </div>

                            <!-- Tab contents for Compound Search -->
                            <!-- Tab contents for Compound Search -->
                            <div id="compounds-search" class="tab-content">
                                <p>Search Compound names</p>
                                <!-- Centered heading -->
                                <div class="search-container">
                                    <div class="search-controls">
                                        <form id="compound_search_form" action="/search" method="post" class="example">
                                            <input type="text" id="compound_search_term" name="searchTerm" placeholder="Enter compound name..." class="custom-search-input">
                                            <button type="button" onclick="searchCompoundData()" class="search-icon fa fa-search"></button>
                                            <button type="button" id="resetCompoundSearchBtn" class="search-icon fa fa-refresh"></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="name-container">
                                    <!-- Clickable names will be added here dynamically -->
                                    <span class="clickable-name" onclick="fillCompoundSearchBar('Benzaldehyde')">Benzaldehyde</span>
                                    <span class="clickable-name" onclick="fillCompoundSearchBar('Vanillin')">Vanillin</span>
                                    <!-- Add more names as needed -->
                                </div>
                                <div id="compound_graph_and_table">
                                    <div id="compound_bar_graph"></div>
                                    <!-- Adjusted download button ID -->
                                    <button id="downloadCSVBtn" class="button primary icon solid fa-download" style="display: none; margin-top: 10px;">Download Compound Data</button>
                                    <table id="compound_data_table" class="alt compound-table"></table>
                                </div>
                            </div>

                            <!-- JavaScript code for handling compound search functionality -->
                            <script src="{{ 'static/compound.js' }}"></script>


                            <!-- Tab contents for Target Search -->
                            <div id="targets-search" class="tab-content" style="display: none;">
                                <p>Search Target names</p>
                                <!-- Centered heading -->
                                <div class="search-container">
                                    <div class="search-controls">
                                        <form id="target_search_form" action="searchtarget" method="post" class="example">
                                            <input type="text" id="target_search_term" name="searchTerm" placeholder="Enter target name..." class="custom-search-input">
                                            <button type="button" onclick="searchTargetData()" class="search-icon fa fa-search"></button>
                                            <button type="button" id="resetTargetSearchBtn" class="search-icon fa fa-refresh" ></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="name-container">
                                    <!-- Clickable names will be added here dynamically -->
                                    <span class="clickable-name" onclick="fillTargetSearchBar('Aldehyde oxidase')">Aldehyde oxidase</span>
                                    <span class="clickable-name" onclick="fillTargetSearchBar('Beta amyloid A4 protein')">Beta amyloid A4 protein</span>
                                    <!-- Add more names as needed -->
                                </div>

                                <!-- Bar Graph and Data Table for Target Search -->
                                <div id="target_graph_and_table" style="display: none;">
                                    <div id="target_bar_graph"></div>
                                    <button id="downloadTargetBtn" class="button primary icon solid fa-download" style="display: none; margin-top: 10px;">Download Compound Data</button>

                                    <table id="target_data_table" class="alt compound-table"></table>
                                </div>
                            </div>

                            <!-- JavaScript code for handling target search functionality -->
                            <script src="{{ 'static/target_1.js'}}"></script>
                            <!-- Tab contents for Plant Search -->
                            <div id="plant-search" class="tab-content" style="display: none;">
                                <p>Search Plant names</p>
                                <!-- Centered heading -->
                                <div class="search-container">
                                    <div class="search-controls">
                                        <form id="plant_search_form" action="searchplant" method="post" class="example">
                                            <input type="text" id="plant_search_term" name="searchTerm" placeholder="Enter plant name..." class="custom-search-input">
                                            <button type="button" id="search_button" class="search-icon fa fa-search"></button>
                                            <button type="button" id="resetPlantBtn" class="search-icon fa fa-refresh" ></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="name-container">
                                    <span class="clickable-name" onclick="fillPlantSearchBar('Artemisia afra')">Artemisia afra</span>
                                    <span class="clickable-name" onclick="fillPlantSearchBar('Mitragyna speciosa')">Mitragyna speciosa</span>
                                    <span class="clickable-name" onclick="fillPlantSearchBar('Ocimum basilicum')">Ocimum basilicum</span>
                                    <span class="clickable-name" onclick="fillPlantSearchBar('Hydrastis canadensis')">Hydrastis canadensis</span>
                                    <span class="clickable-name" onclick="fillPlantSearchBar('Artemisia annua')">Artemisia annua</span>
                                </div>
                                

                                <!-- Bar Graph and Data Table for Plant Search -->
                                <div id="plant_graph_and_table" style="display: none;">
                                    <div id="plant_bar_graph"></div>
                                    <!-- Adjusted download button ID -->
                                    <button id="downloadPlantBtn" class="button primary icon solid fa-download" style="display: none; margin-top: 10px;">Download Plant Data</button>
                                    <table id="plant_data_table" class="alt compound-table"></table>
                                </div>
                                

                            </div>
                            </div>
                            <!-- JavaScript code for handling plant search functionality -->
                            <script src="{{ 'static/plant2.js'}}"></script>
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>


                            <script>
                                function showCompoundSearch() {
                                    document.getElementById('compounds-search').style.display = 'block';
                                    document.getElementById('compound_graph_and_table').style.display = 'block';
                                    document.getElementById('targets-search').style.display = 'none';
                                    document.getElementById('target_graph_and_table').style.display = 'none';
                                    document.getElementById('plant-search').style.display = 'none'; // Hide the plant tab content
                                    document.getElementById('plant_graph_and_table').style.display = 'none';
                                }
                            
                                function showTargetSearch() {
                                    document.getElementById('targets-search').style.display = 'block';
                                    document.getElementById('target_graph_and_table').style.display = 'block';
                                    document.getElementById('compounds-search').style.display = 'none';
                                    document.getElementById('compound_graph_and_table').style.display = 'none';
                                    document.getElementById('plant-search').style.display = 'none'; // Hide the plant tab content
                                    document.getElementById('plant_graph_and_table').style.display = 'none';
                                }
                            
                                function showPlants() {
                                    document.getElementById('plant-search').style.display = 'block';
                                    document.getElementById('plant_graph_and_table').style.display = 'block';
                                    document.getElementById('compounds-search').style.display = 'none';
                                    document.getElementById('compound_graph_and_table').style.display = 'none';
                                    document.getElementById('targets-search').style.display = 'none';
                                    document.getElementById('target_graph_and_table').style.display = 'none';
                                    document.getElementById('formulation-search').style.display = 'none'; // Hide the formulation tab content
                                    document.getElementById('plant-search').style.display = 'none'; // Hide the plant search tab content
                                }
                                function fillCompoundSearchBar(name) {
                                    document.getElementById('compound_search_term').value = name;
                                }
                            
                                function fillTargetSearchBar(name) {
                                    document.getElementById('target_search_term').value = name;
                                }
                            
                                function fillPlantSearchBar(name) {
                                    document.getElementById('plant_search_term').value = name;
                                }
                            </script>
                    </header>
                    <a href="#one" class="goto-next scrolly">Next</a>
                </div>
                <a href="#one" class="goto-next scrolly">Next</a>
            </section>

        <!-- One -->
            <section id="one" class="spotlight style1 bottom">
                <span class="image fit main"><img src="static/images/pic02.jpg" alt="" /></span>
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 col-12-medium">
                                <header>
                                    <h2>Formulation</h2>
                                    <p>Identifying targets for the given checmial formulations</p>
                                    <ul class="actions">
                                        <li><a href="target" class="button">Compute</a></li>
                                    </ul>
                                </header>
                            </div>
                            <div class="col-4 col-12-medium">
                                <p>Identifying targets for a formulation of compounds is a crucial step in the drug discovery process. 
                                    This involves understanding the biological pathways and mechanisms of action of the individual compounds, 
                                    as well as their potential interactions and synergies. Our approach combines advanced computational methods 
                                    with extensive experimental data to predict the targets and off-pathways of selected plant compounds.
                                    Our platform uses state-of-the-art deep learning models to analyze the molecular structure and properties 
                                    of each compound, and to predict its potential targets and pathways. 
                                </p>
                            </div>
                            <div class="col-4 col-12-medium">
                                <p>	We integrate this information with large-scale 
                                    gene expression data and other biological assays to refine and validate our predictions. Our approach allows us to identify 
                                    both primary targets and off-targets, as well as potential pathway crosstalk and feedback loops.By combining computational modeling with experimental validation, we can accelerate the target identification process 
                                    and reduce the risk of late-stage failures in drug development. Whether you are a researcher, 
                                    a pharmaceutical company, or a biotech startup, we can help you identify the targets and pathways of your compounds 
                                    and accelerate your drug discovery efforts.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#two" class="goto-next scrolly">Next</a>
            </section>

        <!-- Two -->
            <section id="two" class="spotlight style2 right">
                <span class="image fit main"><img src="static/images/pic03.jpg" alt="" /></span>
                <div class="content">
                    <header>
                        <h2>Pathway Identification</h2>
                        <p>Predict pathways for the given formulation</p>
                    </header>
                    <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
                    <ul class="actions">
                        <li><a href="" class="button">Predict</a></li>
                    </ul>
                </div>
                <a href="#three" class="goto-next scrolly">Next</a>
            </section>

        <!-- Three -->
            <!-- Three <section id="three" class="spotlight style3 left">
                <span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
                <div class="content">
                    <header>
                        <h2>Interdum felis blandit praesent sed augue</h2>
                        <p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
                    </header>
                    <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button">Learn More</a></li>
                    </ul>
                </div>
                <a href="#four" class="goto-next scrolly">Next</a>
            </section> -->

        <!-- Four -->
            <section id="three" class="wrapper style1 special fade-up">
                <div class="container">
                    <header class="major">
                        <h2>Statisitics of the database in Ver1.0</h2>
                        <p>Total number of targets, compounds and pathways currated in this version</p>
                    </header>
                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <span class="icon solid alt major fa-crosshairs"></span>
                                <h3>2000</h3>
                                <h3>Targets</h3>
                                <p></p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <span class="icon solid alt major fa-leaf"></span>
                                <h3>6</h3>
                                <h3>Plants</h3>
                                <p></p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <span class="icon solid alt major fa-flask"></span>
                                <h3>1200</h3>
                                <h3>Compounds</h3>
                                <p></p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <span class="icon solid alt major fa-road"></span>
                                <h3>3</h3>
                                <h3>Pathways</h3>
                                <p></p>
                            </section>
                            <!-- <section class="col-4 col-6-medium col-12-xsmall">
                                <span class="icon solid alt major fa-file"></span>
                                <h3>10</h3>
                                <h3>Odio laoreet accumsan</h3>
                                <p></p>
                            </section>
                            <section class="col-4 col-6-medium col-12-xsmall">
                                <span class="icon solid alt major fa-lock"></span>
                                <h3>10</h3>
                                <h3>Massa arcu accumsan</h3>
                                <p></p>
                            </section> -->
                        </div>
                    </div>
                    <!-- <footer class="major">
                        <ul class="actions special">
                            <li><a href="#" class="button">Magna sed feugiat</a></li>
                        </ul> -->
                    </footer>
                </div>
            </section>

        <!-- Five -
            <section id="five" class="wrapper style2 special fade">
                <div class="container">
                    <header>
                        <h2>Magna faucibus lorem diam</h2>
                        <p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
                    </header>
                    <form method="post" action="#" class="cta">
                        <div class="row gtr-uniform gtr-50">
                            <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                            <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
                        </div>
                    </form>
                </div>
            </section>-->

     
{% endblock %}
