<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Botanicals</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="">Botanicals</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="home">Home</a></li>
							<li>
								<a href="#">Contents</a>
								<ul>
									<li><a href="target"><i class="fas fa-bullseye"></i> Target Identification</a></li>
									<!-- <li><a href="pathways"><i class="fas fa-road"></i> Pathways</a></li> -->
									<!-- <li><a href="#help"><i class="fas fa-question-circle"></i> Help</a></li> -->
									<!-- <li><a href="#contact"><i class="fas fa-envelope"></i> Contact</a></li> -->
								</ul>
							</li>
							<li><a href="http://dokhlab.med.psu.edu/candi" target="_blank"class="button primary">CANDI</a></li>
							<!-- <li><a href="elements.html">Contact</a></li> -->
							<!-- <li><a href="#" class="button primary">Sign Up</a></li> -->
						</ul>
					</nav>
				</header>
				{% block content %}
				{% endblock %}


			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<span class="larger"> 
							<a href="https://dokhlab.med.psu.edu/dokhlab/#/" target="_blank">Dokholyan Lab,</a>
							<a href="https://med.psu.edu/pharmacology" target="_blank"><u>Department of Pharmacology,</u></a>
							<a href="https://med.psu.edu/home" target="_blank"><u>Penn State College of Medicine</u></a> Hershey, PA, USA
					</p>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
			<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
			<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script> <!-- Include PapaParse library -->
			
	</body>
</html>