{% extends "index.html" %}

{% block content %}
<title>CSV Search and Bar Graph (Target vs. Score)</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    /* Custom styles for tabs and results */
    .nav-tabs {
        border: none; /* Remove border */
        border-radius: 5px;
        overflow: hidden;
        margin-top: 20px; /* Add gap after search bar */
    }

    .nav-tabs .nav-item {
        float: left;
        list-style-type: none; /* Remove list bullets */
    }

    .nav-tabs .nav-link {
        padding: 10px 20px;
        border-right: 1px solid #ccc;
        border-top: none;
        border-bottom: none;
        background-color: #f8f9fa;
        color: #333;
        transition: background-color 0.3s;
        border-radius: 0; /* Remove border radius */
    }

    .nav-tabs .nav-link:hover {
        background-color: #e9ecef;
    }

    .nav-tabs .nav-link.active {
        background-color: #fff;
        border-color: #ccc;
        border-bottom: 1px solid #fff; /* Hide bottom border */
    }

    .tab-content {
        border: none; /* Remove border */
        padding: 20px;
        border-radius: 0 0 5px 5px; /* Add border radius only at the bottom */
    }

    .tab-pane {
        display: none;
    }

    .tab-pane.active {
        display: block;
    }
</style>


<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <!-- Information that should remain visible -->
            <h2>Predicting pathways for targets and compounds </h2>
        </header>
    
        <!-- Search bar for Formulation -->
    <header>
        <h3>Example: Enter the UNIPORT or CHEMBL ids for predicting pathways.</h3>
    </header>   
        <!-- Add example button -->
        <button type="button" class="button primary" onclick="fillExample()">Uniport</button>
        <button type="button" class="button primary" onclick="fillchebi()">CHEBI</button>
        <button type="button" class="button primary" onclick="fillboth()">Combined</button>
        <label for="batchInput"></label><br>
        <!-- Form for entering batch data -->
        <textarea id="batch" rows="5" cols="50" placeholder="Enter UniProt / CHEBI IDs"></textarea><br>
        <button id="searchButton" class="button ">Search Pathways</button>
        <button id="refreshButton" type="button reset" class="search-icon fa fa-refresh" style="display:none;"></button>
    </div>   
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: none;">
            <li class="nav-item">
                <a class="nav-link active" id="numeric-tab" data-toggle="tab" href="#numeric" role="tab" aria-controls="numeric" aria-selected="true">Compound Pathways</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="alphanumeric-tab" data-toggle="tab" href="#alphanumeric" role="tab" aria-controls="alphanumeric" aria-selected="false">Target Pathways</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="common-tab" data-toggle="tab" href="#common" role="tab" aria-controls="common" aria-selected="false">Common Pathways</a>
            </li>
            
        </ul>
        <button id="downloadButton" class="button primary"  style="display:none;">Download CSV</button>
        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent" style="display: none;">
            <div class="tab-pane fade show active" id="numeric" role="tabpanel" aria-labelledby="numeric-tab">
                <div id="numericResults"></div>
            </div>
            <div class="tab-pane fade" id="alphanumeric" role="tabpanel" aria-labelledby="alphanumeric-tab">
                <div id="alphanumericResults"></div>
            </div>
            <div class="tab-pane fade" id="common" role="tabpanel" aria-labelledby="common-tab">
                <div id="commonResults"></div>
            </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#searchButton').click(function() {
                var batchData = $('#batch').val();
                $.ajax({
                    url: '/search-pathways',
                    type: 'POST',
                    data: { batch: batchData },
                    success: function(response) {
                        displayResults(response);
                        $('#downloadButton').show();
                        $('#refreshButton').show();
                        $('#myTab').show(); // Show the tabs after search results are available
                        $('#myTabContent').show(); // Show the tab contents after search results are available
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            $('#refreshButton').click(function() {
                $('#batch').val(''); 
                $('#numericResults').empty();
                $('#alphanumericResults').empty();
                $('#commonResults').empty();
                $('#downloadButton').hide();
                $('#refreshButton').hide();
                $('#myTab').hide(); // Hide the tabs when refreshing
                $('#myTabContent').hide(); // Hide the tab contents when refreshing
            });

            $('#downloadButton').click(function() {
                downloadCSV();
            });

            function downloadCSV() {
                var csvContent = "data:text/csv;charset=utf-8";
                // Extract data from the tables and format as CSV
                var numericCSV = generateCSV($('#numericResults'));
                var alphanumericCSV = generateCSV($('#alphanumericResults'));
                var commonCSV = generateCSV($('#commonResults'));

                // Combine all CSV data
                csvContent += numericCSV + "\n\n" + alphanumericCSV + "\n\n" + commonCSV;

                // Create a temporary link and trigger download
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", "pathways_data.csv");
                document.body.appendChild(link);
                link.click();
            }

            function generateCSV(container) {
                var csv = [];
                container.find('table tbody tr').each(function(index, row) {
                    var rowData = [];
                    $(row).find('td').each(function(index, column) {
                        rowData.push($(column).text());
                    });
                    csv.push(rowData.join(','));
                });
                return csv.join('\n');
            }

            function displayResults(data) {
                $('#numericResults').empty();
                $('#alphanumericResults').empty();
                $('#commonResults').empty();

                if (data.error) {
                    $('#numericResults').text('Error: ' + data.error);
                    $('#alphanumericResults').text('Error: ' + data.error);
                    $('#commonResults').text('Error: ' + data.error);
                } else {
                    $('#numericResults').append('<h2>Compound Pathways</h2>');
                    $('#numericResults').append(generateTable(JSON.parse(data.numeric_pathways)));
                    
                    $('#alphanumericResults').append('<h2>Target Pathways</h2>');
                    $('#alphanumericResults').append(generateTable(JSON.parse(data.alphanumeric_pathways)));
                    
                    $('#commonResults').append('<h2>Common Pathways</h2>');
                    $('#commonResults').append(generateTable(JSON.parse(data.common_pathways)));
                }
            }

            function generateTable(data) {
                var table = '<table border="1">';
                if (data.length > 0) {
                    table += '<tr>';
                    // Filter out the "Submitted entities found" column from headers
                    var headers = Object.keys(data[0]).filter(header => header !== "Submitted entities found");
                    headers.forEach(function(header) {
                        table += '<th>' + header + '</th>';
                    });
                    table += '</tr>';
                    data.forEach(function(row) {
                        table += '<tr>';
                        headers.forEach(function(header, index) {
                            // Add hyperlink for the values in the first column
                            if (index === 0) {
                                table += '<td><a href="https://reactome.org/content/query?q=' + row[header] + '">' + row[header] + '</a></td>';
                            } else {
                                table += '<td>' + row[header] + '</td>';
                            }
                        });
                        table += '</tr>';
                    });
                } else {
                    table += '<tr><td colspan="3">No data available</td></tr>';
                }
                table += '</table>';
                return table;
            }

        });
    </script>
    <!-- JavaScript code -->
<script>
    // Function to fill the search bar with example text
    function fillExample() {
        // Define the example UniProt IDs
        var exampleIDs = `P21554
P00387
P08254
P49760
P22303
Q96KB5
P56937`;

        // Get the search bar textarea element
        var searchBar = document.getElementById('batch');
        
        // Fill the search bar with example UniProt IDs
        searchBar.value = exampleIDs;
    }
    function fillchebi() {
        // Define the another example text
        var anotherExampleText = `62077
        27668
        57286
        57540
        57287`;

        // Get the search bar textarea element
        var searchBar = document.getElementById('batch');
        
        // Fill the search bar with the another example text
        searchBar.value = anotherExampleText;
    }
    function fillboth() {
        // Define the another example text
        var anotherExampleText = `62077
        P08254
        57286
        P22303
        57287`;

        // Get the search bar textarea element
        var searchBar = document.getElementById('batch');
        
        // Fill the search bar with the another example text
        searchBar.value = anotherExampleText;
    }
</script>
</body>
{% endblock %}
