{% extends "index.html" %}

{% block content %}
<title>Pathway Analysis Results</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            color: #000;
        }
        th {
            background-color: #4e4e4e;
        }
        /* Tabs */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }
        .tab button.active {
            background-color: #ff0000;
        }
        .tabcontent {
            padding: 6px 12px;
            border: 1px solid #fffefe;
            border-top: none;
        }
        #results {
        display: none; /* Initially hide the results */
        margin-top: 20px;
    }
    .fancy-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 8px;
    }

    .fancy-button:hover {
        background-color: #45a049; /* Darker green */
    }
    </style>
</head>
<body>
<main>
    <section>
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <!-- Information that should remain visible -->
                    <h2>Identification of the Targets from the compounds </h2>
                </header>
            
            <!-- Search bar for Formulation -->
            <header>
                <h3>Example: Enter the SMILES and values for the formulation.</h3>
            </header>
                            <!-- Add example button -->
                            <button type="button" class="button primary" onclick="fillExample()">Smiles</button>
                            <button type="button" class="button primary" onclick="fillPlantData()">Plants</button>
        <!-- Form for entering batch data -->
        <form id="batchForm" action="search-formulations" method="post">
            <label for="batchInput"></label><br>
            <textarea id="batchInput" name="batch" rows="5" cols="50" placeholder="Enter SMILES and values..."></textarea><br>
            <button class="button" type="submit">Compute</button>
            <button type="button" id="resetFormulationBtn" class="search-icon fa fa-refresh" onclick="resetFormulation()"></button>
        </form>
    </section>
    <div class="container">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Targets')">Targets</button>
            <button class="tablinks" onclick="openTab(event, 'Pathways')">Pathways</button>
        </div>

        <div id="Targets" class="tabcontent">
            <h2>Predicted Targets</h2>
            <button class="fancy-button" onclick="exportTableToCSV('targetsTable.csv', 'targetsTable')">Download CSV</button>
            <table id="targetsTable">
                <thead>
                <tr>
                    <th>Predicted Target</th>
                    <th>Normalized Score</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in normalized_results %}
                <tr>
                    <td>{{ key }}</a></td>
                    <td>{{ value|round(2) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="Pathways" class="tabcontent">
            <h2>Predicted Pathways</h2>
            <button class="fancy-button" onclick="exportTableToCSV('pathwaysTable.csv', 'pathwaysTable')">Download CSV</button>
            <table id="pathwaysTable">
                <thead>
                <tr>
                    <th>Pathway ID</th>
                    <th>Pathway Name</th>
                    <th>Mapped Entities</th>
                    <th>Total Entities</th>
                    <th>p-value</th>
                    <th>Normalized Score</th>
                </tr>
                </thead>
                <tbody>
                {% for pathway_info in pathway_results %}
                <tr>
                    <td><a href="https://reactome.org/content/detail/{{ pathway_info.pathway_id }}" target="_blank">{{ pathway_info.pathway_id }}</a></td>

                    <td>{{ pathway_info.pathway_name }}</td>
                    <td>{{ pathway_info.mapped_entities }}</td>
                    <td>{{ pathway_info.total_entities }}</td>
                    <td>{{ pathway_info.p_value }}</td>
                    <td>{{ pathway_info.normalized_score }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- DataTables JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<script>

   $(document).ready(function() {
        // Initialize DataTables for Targets table
        $('#targetsTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": true
        });

        // Initialize DataTables for Pathways table
        $('#pathwaysTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": true
        });
    });

    document.getElementById('resetFormulationBtn').addEventListener('click', function() {
        // Your function logic here
        resetFormulation();
    });

    function resetFormulation() {
        // Reset the textarea value to empty string
        document.getElementById('batchInput').value = '';
        
        // Redirect to '/target'
        window.location.href = 'target';
    }


    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Function to export table data to CSV
    function exportTableToCSV(filename, tableId) {
    var csv = [];
    var table = $('#' + tableId).DataTable();
    var data = table.rows().data().toArray(); // Get all data from the DataTable

    // Get the header row
    var headers = [];
    for (var i = 0; i < table.columns().header().length; i++) {
        headers.push(table.columns().header()[i].textContent.trim());
    }
    csv.push(headers.join(','));

    // Loop through the data rows
    for (var i = 0; i < data.length; i++) {
        var row = [];
        for (var j = 0; j < data[i].length; j++) {
            var cellValue = data[i][j];
            if (typeof cellValue === 'string') {
                // Extract text content from HTML string
                var parser = new DOMParser();
                var doc = parser.parseFromString(cellValue, 'text/html');
                cellValue = doc.body.textContent || '';
            }
            row.push(cellValue);
        }
        csv.push(row.join(','));
    }

    var csvContent = "data:text/csv;charset=utf-8," + csv.join("\n");
    var encodedUri = encodeURI(csvContent);
    var downloadLink = document.createElement("a");
    downloadLink.setAttribute("href", encodedUri);
    downloadLink.setAttribute("download", filename);
    downloadLink.innerHTML = "Download CSV";

    // Click download link
    downloadLink.click();
}



</script>

{% endblock %}