{% extends "index.html" %}

{% block content %}


<title>CSV Search and Bar Graph (Target vs. Score)</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<style>
    #results {
        display: none; /* Initially hide the results */
        margin-top: 20px;
    }
    .fancy-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 8px;
    }

    .fancy-button:hover {
        background-color: #45a049; /* Darker green */
    }

</style>

                                <!-- Bar Graph and Data Table for Plant Search -->
                                <div id="plant_graph_and_table">
                                    <div id="plant_bar_graph"></div>
                                    <!-- Adjusted download button ID -->
                                    <button id="downloadPlantBtn" class="fancy-button" style="display: none; margin-top: 10px;">Download Plant Data</button>
                                    <table id="plant_data_table" class="display"></table>
                                </div>
                                

                            </div>
                            </div>
                            <!-- JavaScript code for handling plant search functionality -->
                            <script src="{{ url_for('static', filename='plant2.js') }}"></script>

{% endblock %}