<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Search Results</h1>

    <!-- Display the bar graph -->
    <div id="graph"></div>

    <!-- Display the table -->
    <table id="results_table" border="1">
        <thead>
            <tr>
                <th>Target</th>
                <th>UniProt ID</th>
                <th>Score</th>
                <th>Most Similar Compound</th>
                <th>Compounds SMILES</th>
                <th>Compound FP2 Similarity</th>
                <th>Compound Pharmacophore Similarity</th>
                <th>Assay Value</th>
                <th>Assay Type</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table rows will be added dynamically -->
        </tbody>
    </table>

    <script>
        // Retrieve graph and table data from Flask route
        var graphData = {{ graph | safe }};
        var tableData = {{ table | safe }};

        // Create the bar graph
        Plotly.newPlot('graph', JSON.parse(graphData));

        // Populate the table with search results
        var table = document.getElementById('results_table').getElementsByTagName('tbody')[0];
        tableData.forEach(function(row) {
            var newRow = table.insertRow(table.rows.length);
            Object.values(row).forEach(function(value) {
                var newCell = newRow.insertCell();
                newCell.appendChild(document.createTextNode(value));
            });
        });
    </script>
</body>
</html>
