/*
Original design: In Response (v1.1 - May 15th, 2013)
For more information, see http://andreasviklund.com/dt_portfolio/in-response/
*/
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
*{margin:0; padding:0;}

/* General styles */
body {background:#000 top center no-repeat; color:#ccc; font:80% "ABeeZee",Tahoma,sans-serif; line-height:1.5em;}
a {color:#d06; text-decoration:none; font-weight:400;}
a:hover {text-decoration:underline;}
p,ul,ol,dl {margin:0 0 15px 0; line-height:1.6em;}
h1 {color:#888; font-size:4.6em; margin-bottom:0;}
h1 a {text-transform:none; font-weight:400;}
h1 a:hover {text-decoration:none; color:#CD5C5C;}
h2 {font-size:1.3em; color:#333; margin:0 0 10px;}
h3 {font-size:1.7em; margin:auto 0 12px 0;}
h1,h2,h3 {font-family: 'Enriqueta', sans-serif; color:#CD5C5C; font-weight:400; line-height:1.4em;}

/* Main layout container */
#layout {margin:40px auto 0; width:1000px;}
body.wider #layout {margin:40px auto 0; width:1200px;}

/* Footer */
#footer {background:#0a0a0a url(images/insidebg.jpg) top center no-repeat;}
#footer .col {color:#555; border-top:1px dotted #1a1a1a; padding:20px 0;}
#footer p {text-align:center;}
#footer a {color:#555; font-weight:400; text-decoration:none; border-bottom:1px dotted #333;}
#footer a:hover {color:#aaa; text-decoration:none; border-bottom:1px dotted #888;}

/* Grid classes, fixed width, 960px with 12 columns */
.col {float:left; margin:0 10px; overflow:visible; float:left; display:inline;}
.col img {max-width:100%;}
.row {width:960px; margin:20px auto 0; overflow:visible;}
.row .row {margin:0 -10px; width:auto;	display:inline-block;}
.c1 {width:60px;}
.c2 {width:140px;}
.c3 {width:220px;}
.c4 {width:300px;}
.c5 {width:380px;}
.c6 {width:460px;}
.c7 {width:540px;}
.c8 {width:620px;}
.c9 {width:700px;}
.c10 {width:780px;}
.c11 {width:860px;}
.c12 {width:940px;}

/* Grid classes, fixed width, 1200px with 12 columns - add class="wider" to the <body> element to use this */
body.wider .row {width:1200px;}
body.wider .c1 {width:80px;}
body.wider .c2 {width:180px;}
body.wider .c3 {width:280px;}
body.wider .c4 {width:380px;}
body.wider .c5 {width:480px;}
body.wider .c6 {width:580px;}
body.wider .c7 {width:680px;}
body.wider .c8 {width:780px;}
body.wider .c9 {width:880px;}
body.wider .c10 {width:980px;}
body.wider .c11 {width:1080px;}
body.wider .c12 {width:1180px;}

/* Menu list styles */
ul.menu {list-style:none; margin:0; padding:10px 0; border-top:1px solid #333;}
ul.menu li {list-style:none; text-align:center; font-size:1.2em; margin:0 0 10px; padding:0 0 8px 0; color:#888; border-bottom:1px solid #333;}
ul.menu li a {font-size:1.2em; font-weight:400;}
ul.menu li a:hover {color:#eee; text-decoration:none;}

/* Additional text classes */
.slogan {color:#bbb; font-size:1.2em;}
.alignleft {text-align:left;}
.alignright {text-align:right;}
.aligncenter {text-align:center;}
.alignjustify {text-align:justify;}
.nomargin {margin:0; padding:0;}
.separator {height:100px; margin:0; padding:0; background: #0a0a0a url(images/insidebg2.jpg) bottom center no-repeat; border-bottom:1px dotted #1a1a1a;}
.larger {font-size:1.2em;}
.smaller {font-size:1.9em;}
.spacer {margin:0 20px;}
.clear {clear:both;}
.hide {display:none;}
.border {border:1px solid red;}
body .navmenu a {font-size:2.4em;}

/* Light styles, apply by using class="light" on the body HTML element */
body.light {background:#fff; color:#777;}
body.light a {color:#60d062;}
body.light a:hover {color:#555;}
body.light h1 {color:#888; font-size:4.6em; margin-bottom:0;}
body.light h1 a:hover {color:#303030;}
body.light h2 {color:#555;}
body.light h1, body.light h2, body.light h3 {color:#60d062;}
body.light ul.menu {border-top:1px solid #ddd;}
body.light ul.menu li {border-bottom:1px solid #ddd;}
body.light ul.menu li a:hover {color:#333;}
body.light .separator {background: #f5f5f5; border-bottom:1px dotted #ccc;}
body.light .slogan {color:#888;}
body.light #footer {background:#f5f5f5;}
body.light #footer .col {color:#555; border-top:1px dotted #ccc;}
body.light #footer a {color:#555; border-bottom:1px dotted #ddd;}
body.light #footer a:hover {color:#444; border-bottom:1px dotted #eee;}
body.light .navmenu a {font-size:1.4em;}

/* Alternate colors, apply by adding class="blue" (or any of the other available colors) to the body HTML element */
body.blue a {color:#3288a8;}
body.blue h1, body.blue h2, body.blue h3 {color:#3288a8;}
body.grey a {color:#666;}
body.grey h1, body.grey h2, body.grey h3 {color:#666;}

.navmenu a {font-size:1.2em; margin: 0 20px;}

div.thumbnails img {width:160px; margin:0 10px 10px 0; border-radius:12px;}
div.thumbnails img.last {margin-right:0;}

.headerimage img {border-radius:12px;}

@media only screen and (max-width : 960px){
#layout, body.wider #layout {width:auto; margin:0; padding:20px;}
.row {width:100%;}
.col {margin:0 0 20px 0;}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {width:100%;}
h1 {margin:-15px auto 5px; line-height:1.4em;}
body .navmenu {margin:0px 0 -15px;}
body .navmenu a {font-size:1.4em; display:inline-block; line-height:2.0em;padding:7px 12px; margin:0 10px 8px 0; background-color:#111; border:1px solid #222; border-radius:10px;}
body.light .navmenu a {font-size:1.4em; display:inline-block; line-height:2.0em;padding:7px 12px; margin:0 10px 8px 0; background-color:#fff; border:1px solid #eee; border-radius:10px;}
body .navmenu a.current {border-color:#444;}
body.light .navmenu a.current {border-color:#ddd;}
.headerimage img {width:100%; height:auto;}
div.thumbnails img {width:24%; margin:0;}
div.thumbnails img.last {margin-right:0;}
}
/* Button Color */
.button {
    background-color: #60d062;
    border: black;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: white;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

/* Table */
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 30px;
}

th, td {
    border: 1px solid #CCC;
    height: 30px;
    padding: 12px;
}

th {
    background: #F3F3F3;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
    font-size: 14px
}
/*dropdown menu*/
.dropbtn {
  background-color: #60d062;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #333;}


#table
.input-container {
  display: flex;
  flex-wrap: wrap;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px; /* Adjust spacing between rows */
}

.input-column {
  flex: 1 0 20%; /* Adjust column width as needed */
  margin-right: 20px; /* Adjust spacing between columns */
}

label {
  display: block; /* Display labels as block elements */
  margin-bottom: 5px; /* Adjust spacing between label and input */
}

input {
  width: 100%; /* Make inputs take up full width of their container */
  padding: 5px; /* Add padding for better appearance */
  box-sizing: border-box; /* Include padding in input width */
}


#box 
.box {
  border: 1px solid #000000; /* Border style */
  padding: 10px; /* Padding around the text */
  margin-bottom: 5px; /* Spacing between each list item */
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
}


.data-table {
  width: 100%; /* Set the table width to 100% of the container */
  border-collapse: collapse; /* Collapse the borders between cells */
}
.data-table th, .data-table td {
  border: 1px solid black; /* Add border to table cells */
  padding: 8px; /* Add padding to table cells */
  text-align: left; /* Align text to the left */
}
/* Add this CSS to your stylesheet */
#results-container {
  overflow: auto; /* Add scrollbars if content exceeds container size */
  max-height: 400px; /* Set maximum height for the container */
}
.category-container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
  margin-right: 20px; /* Adjust margin between categories */
  margin-bottom: 20px; /* Adjust margin between rows */
}
/* image sliding */
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


  .large {
    font-size: 64px;
  }

  .medium {
    font-size: 24px;
  }

  .small {
    font-size: 32px;
  }
