{% extends "layout.html" %}
{% block content %}
<style>
  #Acknowledgements {
    border: none;
  }
</style>
<article id="main">
  <header>
    <h2>Contact Information</h2>
  </header>
  <section class="wrapper style5">
    <div class="inner">
            <div><h3>Prof. Nikolay Dokholyan</h3>
                G. Thomas Passananti Professor and Vice Chair for Research,
                Department of Pharmacology<br>
                Professor, Department of Biochemistry and Molecular Biology
                Penn State Neuroscience Institute<br>
                Center for Cannabis and Natural Product Pharmaceuticals (CCNPP)
                 </div>
                <br>
                 <h4>Acknowledgements</h4>
                 <div>This work is supported by:</div><br>
                 <img src="static/images_old/download.png" alt="Pennstate_logo"  align="center">
                 &nbsp; &nbsp;
    </div>
  </section>     
    
{% endblock %}
