{% extends "layout.html" %}
{% block content %}
<style>
    table {
        width: 100%;
        table-layout: fixed;
    }

    th, td {
        word-wrap: break-word;
        max-width: 170px;  /* Set a maximum width for columns */
    }
</style>
<body>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search by compound name or smiles">
        <button onclick="search()">Search</button>
    </div>
    <div id="results-container">
            <tbody id="results-body">
                  <!-- Table body will be dynamically populated by JavaScript -->
            </tbody>
        </table>
    </div>
    <script src="static/script.js"></script>

</body>
{% endblock %} 

