

<h2>Formulation</h2>


<form action="formulation" method="post">
    {% for compound in compound_names %}
    <label for="compound{{ loop.index }}">Compound {{ loop.index }}:</label>
    <input type="text" id="compound{{ loop.index }}" name="compound{{ loop.index }}" required>
    <br>
    {% endfor %}
    <br>
    <button type="submit">Submit</button>
</form>