{% extends "layout.html" %}
{% block content %}
	<!-- DESCRIPTION -->

	<article id="main">
		<header>
			<h2>Help</h2>
			<p>Brief explanation on usage of this web server</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">
				<div class="row">
					<div class="col c12 alignjustify">
						<br>
						<h3>Compounds</h3>
						<div>On the Compounds page, users can enter the desired cannabis compound names to fetch the compound information. 
							The target names will be displayed along with the UniProt ID, Score, Most Similar Compounds, SMILES, 
							Compound FP2 Similarity, Compound Pharmacophore Similarity, Assay Value, and Assay Type in the table below.
							These values were obtained from the DRIFT web server.
						</div>
					</div>
					<br>
					<img src="static/help/2.png" alt="Penn_logo" align="center">
					<br>

					<div class="col c12 alignjustify">
						<h3>Formulation</h3>
						<div>On the Formulation page, users should first download the CSV file where the compound names are provided, 
							and then add their formulation values (default 0) in the following column and save the file. 
							Next, users can upload the saved file using the "choose file" option and click the 
							submit button for target prediction. For the convenience of users, we have provided the option to 
							download predicted targets from the results page.
						</div>
					</div>
					<img src="static/help/4.png" alt="Penn_logo" align="center">
					<img src="static/help/4_1.png" alt="Penn_logo" align="right">
					<br>

					<div class="col c12 alignjustify">
						<h3>Pathways</h3>
						<div>
							On the Pathways tab, users can see the pathways involved for the predicted targets obtained from 
							the Reactome database. The first column provides the pathway IDs with links to the Reactome database. The 
							second column gives the pathway names. We also provide the score for each projected pathway 
							based on relevance to the user-provided information.
						</div>
					</div>
					<img src="static/help/5.png" alt="Penn_logo" align="right">
					<br>

					<div class="col c12 alignjustify">
						<h3>Similarity</h3>
						<div>On the Similarity page, users can find the similarity index between the compounds that
							were precalculated using the correlation matrix obtained from the DRIFT calculations.
							These values were precalculated and represented as a heatmap for better understanding.
						</div>
					</div>
					<img src="static/help/3.png" alt="Penn_logo" align="center">
					<br>
				</div>
			</div>
		</section>
{% endblock %}
