{% extends "layout.html" %}
{% block content %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>CANDI</h2>
            <p>A curated Webserver<br />
                for Identifying cannabis targets <br />
            </p>
            <ul class="actions special">
                <li><a href="#one" class="button primary">Predict</a></li>
            </ul>
        </div>
        <a href="#one" class="more scrolly">Predictions</a>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>Predicting the impact of cannabis formulation on human health<br />
                </h2>
                <p>Identifying the compounds and formulation from cannabis aids in deciphering the route towards betterment of human health
                    by elucidating the connections with biological targets and pathways</p>
            </header>
            <ul class="icons major">
                <li>
                    <a href="compound" class="icon major">
                        <img src="static/images/compound.png" alt="Compound" style="width: 100px; height: 100px;">
                    </a>
                    Compounds
                </li>
                <li>
                    <a href="formulation" class="icon major">
                        <img src="static/images/protein.png" alt="Protein" style="width: 100px; height: 100px;">
                        
                    </a>
                    Formulation
                </li>
                <li>
                    <a href="plotting" class="icon major">
                        <img src="static/images/similarity.png" alt="Similarity" style="width: 100px; height: 100px;">
                    </a>
                    Similarity
                </li>
            </ul>
            
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt style2">
        <section class="spotlight">
            <div class="image"><img src="static/images/1.png" alt=""  /></div>
            <div class="content">
                <a href="compound">
                    <h2>Compound Selection<br /></h2>
                </a>    
                <p>We have curated the information of the targets, similar compounds with tanimoto coefficents, activity and IC50 of the cannabis compounds</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="static/images/2.png" alt=""  /></div><div class="content">
                <a href="formulation">
                    <h2> Formulation <br /></h2>
                </a>
                </h3>Target Prediction & Pathways Identification</h3>
                <p>We have used the AI based model to predict the targets for the compounds using the binding affinity and score. 
                    Reactome database is used to map the pathways for the predicted targets with the normalised score being used as weights to rank the pathways</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"></a><img src="static/images/3.png" alt="" /></div><div class="content"></a>
                <a href="plotting">
                    <h2>Similarity<br /></h2>
                </a>                
                <p>We used the cosine similarity to elucidatie the relative connection between the compounds and the targets</p>
            </div>
        </section>
    </section>


{% endblock %}
