{% extends "layout.html" %}
{% block content %}

    <h1>Input Values</h1>
    <form action="formulation" method="post" id="inputForm">
        <div class="input-container">
            {% set rows = column_names | batch(3) %} {# Group column names into lists of 5 #}
            {% for row in rows %}
                <div class="input-row">
                    {% for column in row %}
                        <div class="input-column">
                            <label for="{{ column }}">{{ column }}:</label>
                            <input type="number" step="0.01" name="{{ column }}" id="{{ column }}" value="{{ default_values[column] }}" required>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div id="additionalInputs"></div>
        <button type="button" id="addInput">Add</button>
        <div style="margin-top: 10px;"></div>
        <input type="submit" value="Predict">
    </form>

    <script>
        document.getElementById("addInput").addEventListener("click", function() {
            var additionalInputs = document.getElementById("additionalInputs");
            additionalInputs.innerHTML += `
                <div class="input-row">
                    <div class="input-column">
                        <label for="compound">Compound/Smiles Name:</label>
                        <input type="text" name="compound[]" required>
                    </div>
                    <div class="input-column">
                        <label for="value">Value:</label>
                        <input type="number" step="0.01" name="value[]" required>
                    </div>
                    <div class="input-column">
                        <button type="button" class="removeInput">Remove</button>
                    </div>
                </div>`;

            // Attach event listener to dynamically added remove buttons
            var removeButtons = document.getElementsByClassName("removeInput");
            for (var i = 0; i < removeButtons.length; i++) {
                removeButtons[i].addEventListener("click", function() {
                    this.parentNode.parentNode.remove();
                });
            }
        });
    </script>

{% endblock %}
