{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body>
    <article id="main">
        <header>
            <h2>Formulations</h2>
            <p>To predict the targets and its relative pathways</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
            <h2>User Compound values</h2>
            <p>Users can download the template csv file and modify according to your chemical formulations of compounds and upload your modified csv file for predictions.</p>

            <form id="form" action="formulation" method="post" enctype="multipart/form-data">
                <div style="text-align: center;">
                    <a href="download_sample_csv" style="margin-right: 10px;">
                        <i class="fas fa-download"></i> Download Sample CSV
                    </a>
                    <label for="file" style="display: inline-block;">
                        <i class="fas fa-upload" style="margin-right: 5px;"></i> Upload user CSV file:
                    </label>
                    <label for="file" class="custom-file-upload">
                        <input type="file" id="file" name="file" accept=".csv" style="display: none;">
                    </label>
                    <span id="filename-placeholder"></span>
                </div>
                <br> <!-- Add a line break for spacing -->
                <button class="button primary" id="submit-btn" type="submit">Submit</button>
            </form>
            <!-- Loading GIF image -->
            <div id="loading-message" style="display: none;">
                <img src="static/gifgit.gif" alt="Loading..." style="width: 100px; height: 100px;">
                <p>Loading...</p>
            </div>
        </section>
    <!-- Results display section -->
    <div id="results" style="display: none;">
        <!-- Add your result display logic here -->
    </div>

    <script>
        // Get the file input element
        const fileInput = document.getElementById('file');
        
        // Get the placeholder element for displaying the filename
        const filenamePlaceholder = document.getElementById('filename-placeholder');
        
        // Add event listener to the file input
        fileInput.addEventListener('change', function() {
            // Check if a file is selected
            if (this.files && this.files.length > 0) {
                // Get the selected file's name
                const filename = this.files[0].name;
                // Update the placeholder element with the filename
                filenamePlaceholder.textContent = 'Selected file: ' + filename;
            } else {
                // If no file is selected, clear the placeholder text
                filenamePlaceholder.textContent = '';
            }
        });
    </script>





    <script>
        // Get the form element
        const form = document.getElementById('form');
        
        // Get the loading message element
        const loadingMessage = document.getElementById('loading-message');

        // Show loading message when form is submitted
        form.addEventListener('submit', function() {
            loadingMessage.style.display = 'block';
        });

        // Example code to hide loading message when results are rendered
        // Replace this with actual logic to display the results
        setTimeout(function() {
            // Simulate loading delay
            loadingMessage.style.display = 'none';
            document.getElementById('results').style.display = 'block'; // Show results section
        }, 3000); // Change 3000 to actual delay time in milliseconds
    </script>

{% endblock %}
