{% extends "layout.html" %}
{% block content %}

  <title>CSV Search and Bar Graph (Target vs. Score)</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script> <!-- Include PapaParse library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

</head>
<body>
  <style>
    /* Normalize CSS */
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th, td {
        word-wrap: break-word;
        max-width: 200px;  /* Set a maximum width for columns */
        padding: 8px 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f7f7f7;
        color: #333;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    #download_button {
      display: none; /* Initially hide the download button */
    }

    #filler_text_container {
      text-align: center; /* Align the container content center */
    }

    #filler_text_container p {
      display: inline-block; /* Align the filler text horizontally */
      margin: 0 10px; /* Add some spacing between filler text */
      cursor: pointer;
    }

    #autocomplete-suggestions ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow-y: auto;
    }

    #autocomplete-suggestions li {
        padding: 8px 12px;
        cursor: pointer;
    }

    #autocomplete-suggestions li:hover {
        background-color: #f1f1f1;
    }

    /* Custom styles for DataTable */
    .dataTables_wrapper {
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

    .dataTables_wrapper .dataTables_length select,
    .dataTables_wrapper .dataTables_filter input {
        font-weight: normal;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 4px 8px;
        margin-bottom: 10px;
    }

    .dataTables_wrapper .dataTables_length select {
        width: auto;
    }

    .dataTables_wrapper .dataTables_filter input {
        width: 100%;
        max-width: 250px;
        margin-left: 0;
    }

    .dataTables_wrapper .dataTables_filter input {
        color: #000000; /* Set the desired text color here */
        font-weight: bold; /* Optional: make the text bold */
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 10px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        background-color: #ed4933;
        color: #fff !important;
        border: 1px solid #ed4933;
        border-radius: 4px;
        padding: 4px 8px;
        margin: 0 2px;
        cursor: pointer;
        text-decoration: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-color: #ed4933;
        border-color: #ed4933;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        background-color: #ddd;
        border-color: #ddd;
        color: #666 !important;
        cursor: not-allowed;
    }

    .dataTables_wrapper .dataTables_info {
        margin-top: 10px;
        font-weight: bold;
    }

    .dataTables_wrapper .dataTables_scrollBody {
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-top: 10px;
    }

    table.dataTable {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table.dataTable th,
    table.dataTable td {
        padding: 8px 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table.dataTable thead th {
        background-color: #f7f7f7;
        color: #333;
        font-weight: bold;
    }

    table.dataTable tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table.dataTable tbody tr:hover {
        background-color: #f1f1f1;
    }

    table.dataTable tbody tr td a {
        color: rgba(117, 164, 127);
        text-decoration: none;
    }

    table.dataTable tbody tr td a:hover {
        text-decoration: underline;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #ddd;
    }

    .hidden {
        display: none;
    }
</style>

<article id="main">
  <header>
    <h2>Compounds Information</h2>
    <p>Cannabis compounds and its Pharmacophore based similar compounds with targets and IC50 values </p>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      <h2>Cannabis Compounds </h2>
      <input type="text" id="search_term" placeholder="Enter compound name / SMILES/ PubchemID">
      <div id="autocomplete-suggestions"></div>
      <div id="filler_text_container">
        <p id="filler_text_1">Cannabichromene</p>
        <p id="filler_text_2">Kaempferol</p>
        <p id="filler_text_3">Cannabidiol (CBD)</p>
        <p id="filler_text_4">5280445    </p>
        <p id="filler_text_5">CC1=CCC2CC1C2(C)C    </p>
        <p id="filler_text_6">1249</p>
      </div>
      <button class="button primary" onclick="searchData()">Search</button>
      <button onclick="refreshData()">Refresh</button> <!-- Add a refresh button -->
      <button id="download_button" class="button primary icon solid fa-download" onclick="downloadCSV()">Download CSV</button> <!-- Add an ID to the download button -->
    
      <div id="bar_graph"></div>
      <p id="table_info" class="hidden">This table displays information about user defined Cannabis compound and their associated targets, scores,  most similar compounds (MSC), smiles, Fingerprint similarity (FP2), Phamacophore similarity (PS), Assay Value (AV) and Assay test (AT) details.</p>

      <table id="data_table" class="display"></table>
    </div>
  </section>

  <script>
    function searchData() {
        const searchTerm = document.getElementById('search_term').value;

        fetch('search', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ searchTerm })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
                return;
            }

            const target = data.targets;
            const score = data.scores;
            const graphJSON = data.graph;
            const tableData = data.table;  // Data for table

            if (!target || !score) {
                alert('No data found for the compound name.');
                return;
            }

            // if (graphJSON) {
            //     const graph = JSON.parse(graphJSON);
            //     const data = graph.data;
            //     const layout = graph.layout;

            //     // Define a color scale for the bars
            //     const colorScale = d3.scaleLinear()
            //         .domain([0, data.length - 1])
            //         .range(['darkgreen', 'lightgreen']);

            //     // Update the marker color for each trace based on the value
            //     data.forEach((trace, index) => {
            //         const colorValue = colorScale(index);
            //         trace.marker = { color: colorValue };
            //     });

            //     // Create the bar graph with updated colors
            //     Plotly.newPlot('bar_graph', data, layout);
            // }
            if (graphJSON) {
                const graph = JSON.parse(graphJSON);
                const data = graph.data;
                const layout = graph.layout;

                // Create the bar graph with the colors set in Python
                Plotly.newPlot('bar_graph', data, layout);
            }
            // Before initializing the DataTable again, destroy the existing instance
            if ($.fn.DataTable.isDataTable('#data_table')) {
                $('#data_table').DataTable().destroy();
            }

          // Now, reinitialize the DataTable
          // Now, reinitialize the DataTable
          const dataTable = $('#data_table').DataTable({
              data: tableData,
              columns: [
                  { title: 'Compounds', data: 'compound' },
                  {
                      title: 'Target', data: 'Target-UniProt', render: function (data, type, row, meta) {
                          // Split the combined data into Target Name and (Target ID, UniProt ID)
                          const parts = data.split('<br>(');
                          const targetName = parts[0];
                          const ids = parts[1].replace(')', '');

                          // Create the HTML link for the Target
                          const targetLink = '<a href="https://www.ebi.ac.uk/chembl/target_report_card/' + encodeURIComponent(ids.split(', ')[0]) + '" target="_blank">' + ids.split(', ')[0] + '</a>';

                          // Create the HTML link for the UniProt ID
                          const uniprotLink = '<a href="https://www.uniprot.org/uniprotkb?query=' + encodeURIComponent(ids.split(', ')[1]) + '" target="_blank">' + ids.split(', ')[1] + '</a>';

                          // Return the combined HTML
                          return targetName + '<br>(' + targetLink + ', ' + uniprotLink + ')';
                      }
                  },
                  { title: 'Score', data: 'Score' },
                  {
                      title: 'MSC', data: 'Most Similar Compound', render: function (data, type, row, meta) {
                          return '<a href="https://www.ebi.ac.uk/chembl/compound_report_card/' + encodeURIComponent(data) + '" target="_blank">' + data + '</a>';
                      }
                  },
                  {
                    title: 'Smiles', data: 'Compounds SMILES', render: function (data, type, row, meta) {
                          return '<a href="https://pubchem.ncbi.nlm.nih.gov/#query=' + encodeURIComponent(data) + '" target="_blank">' + data + '</a>';
                      }
                  },
                  // { title: 'SMILES', data: 'Compounds SMILES' },
                  {
                        title: 'FP2', data: 'Compound FP2 Similarity', render: function (data, type, row, meta) {
                            return parseFloat(data).toFixed(2); // Format FP2 value to 2 decimal places
                        }
                    },
                  { title: 'PS', data: 'Compound Pharmacophore Similarity' },
                  { title: 'AV', data: 'Assay Value' },
                  { title: 'AT', data: 'Assay Type' },
              ],
              columnDefs: [
                    { width: '100px', targets: 0 }, // Adjust the width for the first column (Compounds)
                    { width: '1000px', targets: 1 },  // Adjust the width for the second column (Target)
                    { width: '70px', targets: 2 },  // Adjust the width for the second column (score)
                    { width: '100px', targets: 3 },  // Adjust the width for the second column (similar_compounds)
                    { width: '200px', targets: 4 }  // Adjust the width for the second column (smiles)
                ]
          });

            // Show the download button after rendering the table
            document.getElementById('download_button').style.display = 'inline-block';
                    // Show the information line above the table
        document.getElementById('table_info').classList.remove('hidden');
            // Show the section after rendering the table
            document.getElementById('data_section').style.display = 'block';
        });
    }

  
    // Function to refresh data
    function refreshData() {
      // You can put the logic to refresh data here
      // For example, you can clear the search term and reload the page
      document.getElementById('search_term').value = '';
      location.reload();
    }
  
    // Function to fill search bar with filler text
    document.getElementById('filler_text_1').addEventListener('click', function() {
      document.getElementById('search_term').value = 'Cannabichromene';
    });
    document.getElementById('filler_text_2').addEventListener('click', function() {
      document.getElementById('search_term').value = 'Kaempferol';
    });
    document.getElementById('filler_text_3').addEventListener('click', function() {
      document.getElementById('search_term').value = 'Cannabidiol (CBD)';
    });
    document.getElementById('filler_text_4').addEventListener('click', function() {
      document.getElementById('search_term').value = '5280445';
    });
    document.getElementById('filler_text_5').addEventListener('click', function() {
      document.getElementById('search_term').value = 'CC1=CCC2CC1C2(C)C';
    });
    document.getElementById('filler_text_6').addEventListener('click', function() {
      document.getElementById('search_term').value = '1249';
    });
  
    function downloadCSV() {
      const table = $('#data_table').DataTable();
      const tableData = table.data().toArray();
      const csvContent = Papa.unparse(tableData);
      const blob = new Blob([csvContent], { type: 'text/csv' });
      const url = URL.createObjectURL(blob);
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', 'data.csv');
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  
    const searchInput = document.getElementById('search_term');
    const autocompleteContainer = document.getElementById('autocomplete-suggestions');
  
    searchInput.addEventListener('input', () => {
      const searchTerm = searchInput.value.trim().toLowerCase();
  
      if (searchTerm.length > 0) {
        fetchSuggestions(searchTerm);
      } else {
        clearSuggestions();
      }
    });
  
    function fetchSuggestions(searchTerm) {
      const url = `autocomplete?q=${encodeURIComponent(searchTerm)}`;
  
      fetch(url)
        .then(response => response.json())
        .then(suggestions => {
          displaySuggestions(suggestions);
        })
        .catch(error => {
          console.error('Error fetching suggestions:', error);
        });
    }
  
    function displaySuggestions(suggestions) {
      clearSuggestions();
  
      if (suggestions.length > 0) {
        const suggestionList = document.createElement('ul');
        suggestions.forEach(suggestion => {
          const listItem = document.createElement('li');
          listItem.textContent = suggestion;
          listItem.addEventListener('click', () => {
            searchInput.value = suggestion;
            clearSuggestions();
          });
          suggestionList.appendChild(listItem);
        });
        autocompleteContainer.appendChild(suggestionList);
      }
    }
  
    function clearSuggestions() {
      autocompleteContainer.innerHTML = '';
    }
  </script>
</body>
{% endblock %}
