<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>CANDI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="static/images/banner_1.png" type="images/png" /> 
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>

	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="home">CANDI</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="home">Home</a></li>
											<li><a href="compound">Compounds</a></li>
											<li><a href="formulation">Formulations</a></li>
											<li><a href="plotting">Similarity</a></li>
											<li><a href="help">Help</a></li>
											<li><a href="about">contact</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>
				{% block content %}
				{% endblock %}

				<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<span class="copyright"> 
							<a href="https://dokhlab.med.psu.edu/dokhlab/#/" target="_blank">Dokholyan Lab,</a>
							<a href="https://med.psu.edu/pharmacology" target="_blank"><u>Department of Pharmacology,</u></a>
							<a href="https://med.psu.edu/home" target="_blank"><u>Penn State College of Medicine</u></a> Hershey, PA, USA
					</p>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li>
					</ul>
				</footer>


			</div>
		<!-- Scripts -->
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/jquery.scrollex.min.js"></script>
        <script src="static/assets/js/jquery.scrolly.min.js"></script>
        <script src="static/assets/js/browser.min.js"></script>
        <script src="static/assets/js/breakpoints.min.js"></script>
        <script src="static/assets/js/util.js"></script>
        <script src="static/assets/js/main.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script> <!-- Include PapaParse library -->
		

	</body>
</html>
