{% extends "layout.html" %}
{% block content %}

    <style>
        .tab-container {
            width: 100%;
        }

        .tab-menu {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .tab-btn {
            background-color: #ffffff;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 20px;
            transition: background-color 0.3s ease;
        }

        .tab-btn.active {
            background-color: #ffffff;
        }

        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ffffff;
        }

        .tab-content.active {
            display: block;
        }
        table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .tab-container {
        width: 100%;
    }

    .tab-menu {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .tab-btn {
        background-color: #f1f1f1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
    }

    .tab-btn.active {
        background-color: #ccc;
    }

    .tab-content {
        border: 1px solid #ffffff;
        padding: 20px;
        background-color: rgb(250, 248, 248);
    }

    .tab-pane {
        display: none;
    }

    .tab-pane.active {
        display: block;
    }

    .dropdown-menu {
        list-style-type: none;
        padding: 0;
        background-color: white;
    }

    .dropdown-menu li a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        color: #51eb2b;
    }

    .dropdown-menu li a:hover {
        background-color: #f1f1f1;
        
    ul {
    list-style-type: none;
    }
    }
    </style>
    <!-- Include DataTables CSS and JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script> <!-- Include PapaParse library -->

    
    <article id="main">
        <header>
            <h2>Results</h2>
            <p>Predicted targets and its relative pathways</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                <div class="tab-container">
                    <div class="tab-menu">
                        <button class="tab-btn active" onclick="showTab(event, 'formulations')"> Predicted Targets</button>
                        <button class="tab-btn" onclick="showTab(event, 'pathway-results')">Pathway Results</button>
                    </div>
                    <div id="tab-content-wrapper">
                        <div id="formulations" class="tab-content active">
                            <div class="tab-container">
                                <div class="tab-menu">
                                    {% for formulation in predictions.keys() %}
                                        <button class="tab-btn {% if loop.first %}active{% endif %}" onclick="showFormulationTab(event, 'predicted-targets-{{ formulation }}')">{{ formulation }}</button>
                                    {% endfor %}
                                </div>
                                <div id="formulation-tab-content-wrapper">
                                    {% for formulation, predicted_info in predictions.items() %}
                                    <div id="predicted-targets-{{ formulation }}" class="tab-content {% if loop.first %}active{% endif %}">
                                        <h2>Predicted Targets</h2>
                                        <div>
                                            <table id="predicted-targets-table-{{ loop.index }}" class="display" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Target</th>
                                                        <th>UniProt ID</th>
                                                        <th>Score</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for target, score in zip(predicted_info.Targets, predicted_info.Scores) %}
                                                    {% set uniprot_id = uniprot_id_mapping.get(target, '') %}
                                                    <tr>
                                                        <td>{{ target }}</td>
                                                        <td>
                                                            {% if uniprot_id %}
                                                            <a href="https://www.uniprot.org/uniprot/{{ uniprot_id }}" target="_blank">{{ uniprot_id }}</a>
                                                            {% else %}
                                                            N/A
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ score|round(4) }}</td>
    
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                                
                                                
                                            </table>
                                            <script>
                                                $(document).ready(function() {
                                                    $('#predicted-targets-table-{{ loop.index }}').DataTable({
                                                        "paging": true,
                                                        "pageLength": 10,
                                                        "order": [[ 2, "desc" ]] 
                                                    });
                                                });
                                            </script>
                                        </div>
                                        <button class="button primary" onclick="window.location='{{ 'download_formulation_results/'+formulation }}'">Download</button>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="pathway-results" class="tab-content">
                            <div class="tab-container">
                                <div class="tab-menu">
                                    {% for formulation in pathway_results.keys() %}
                                        <button class="tab-btn {% if loop.first %}active{% endif %}" onclick="showPathwayTab(event, 'pathway-{{ formulation }}')">{{ formulation }}</button>
                                    {% endfor %}
                                </div>
                                <div id="pathway-tab-content-wrapper">
                                    {% for formulation, pathways in pathway_results.items() %}
                                    <div id="pathway-{{ formulation }}" class="tab-content {% if loop.first %}active{% endif %}">
                                        {% if pathways %}
                                            <table id="pathway-table-{{ loop.index }}" class="display" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Pathway ID</th>
                                                        <th>Pathway Name</th>
                                                        <th>Mapped Entities</th>
                                                        <th>Total Entities</th>
                                                        <th>Score</th>
                                                        <th>p-value</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for pathway in pathways %}
                                                        <tr>
                                                            <td><a href="https://reactome.org/PathwayBrowser/#/{{ pathway.pathway_id }}" target="_blank">{{ pathway.pathway_id }}</a></td>
                                                            <td>{{ pathway.pathway_name }}</td>
                                                            <td>{{ pathway.mapped_entities }}</td>
                                                            <td>{{ pathway.total_entities }}</td>
                                                            <td>{{ pathway.normalized_score }}</td>
                                                            <td>{{ pathway.p_value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <script>
                                                $(document).ready(function() {
                                                    $('#pathway-table-{{ loop.index }}').DataTable({
                                                        "paging": true,
                                                        "pageLength": 10,
                                                        "order": [[ 4, "desc" ]] 
                                                    });
                                                });
                                            </script>
                                            <a class="button primary" href="{{ 'download_pathway_results/'+formulation }}" download>Download Pathway Results</a>
                                        {% else %}
                                            <p>No pathway results available for this formulation.</p>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    <script>
        function showTab(evt, tabName) {
            // Hide all tab contents
            var tabContents = document.getElementsByClassName("tab-content");
            for (var i = 0; i < tabContents.length; i++) {
                tabContents[i].style.display = "none";
            }

            // Remove the "active" class from all tab buttons
            var tabButtons = document.getElementsByClassName("tab-btn");
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].classList.remove("active");
            }

            // Show the selected tab content
            var tabContent = document.getElementById(tabName);
            tabContent.style.display = "block";

            // Add the "active" class to the clicked tab button
            evt.currentTarget.classList.add("active");

            // Show the first inner tab content for the selected outer tab
            var innerTabContent = tabContent.getElementsByClassName("tab-content")[0];
            innerTabContent.style.display = "block";

            var innerTabButton = tabContent.getElementsByClassName("tab-btn")[0];
            innerTabButton.classList.add("active");
        }

        function showFormulationTab(event, tabName) {
            var tabContent = document.getElementById(tabName);
            var tabBtn = event.currentTarget;

            // Hide all tab contents
            var allTabContents = document.querySelectorAll("#formulation-tab-content-wrapper .tab-content");
            allTabContents.forEach(function(content) {
                content.style.display = "none";
            });

            // Remove active class from all tab buttons
            var allTabBtns = document.querySelectorAll("#formulations .tab-btn");
            allTabBtns.forEach(function(btn) {
                btn.classList.remove("active");
            });

            // Show the selected tab content and add active class to the clicked button
            tabContent.style.display = "block";
            tabBtn.classList.add("active");
        }

        function showPathwayTab(event, tabName) {
            var tabContent = document.getElementById(tabName);
            var tabBtn = event.currentTarget;

            // Hide all tab contents
            var allTabContents = document.querySelectorAll("#pathway-tab-content-wrapper .tab-content");
            allTabContents.forEach(function(content) {
                content.style.display = "none";
            });

            // Remove active class from all tab buttons
            var allTabBtns = document.querySelectorAll("#pathway-results .tab-btn");
            allTabBtns.forEach(function(btn) {
                btn.classList.remove("active");
            });

            // Show the selected tab content and add active class to the clicked button
            tabContent.style.display = "block";
            tabBtn.classList.add("active");
        }
        
    </script>
</body>

{% endblock %}
